@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  text-align: center;
  margin: 0;
} 

body {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #f3206d, #fed636);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Sulphur Point', sans-serif;
}

input {
  font-family: 'Sulphur Point', sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 5px;
}

.wrapper {
  padding: 2%;
  width: 30vw;
  background-color: #fafafa;
  margin: 0 auto;
  border-radius: 10px;
}

button {
  font-family: 'Sulphur Point', sans-serif;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fafafa;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: rgb(255, 255, 255, 0.5);
  padding-left: 5%;
}
